.middle {
    display: flex;
    flex-direction: column;
}
.image {
    margin: 10px;
    align-self: center;
}
h1 {
    font-size: 50px;
    margin-left: 10px;
}
p {
    font-size: 30px;
    margin-left: 10px;
}