.navbar {
    background-color: #fff;
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
}
.airbnb-logo {
    width: 10%;
    height: 10%;
    margin: 10px;
    padding: 0px, 0.01px, 0px, 0.01px;
}